@import ('~lucide-static/font/Lucide.css');
@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

:root {
    --navyBlue: #133E87;
    --blue: #608BC1;
    --lightBlue: #CBDCEB;
    --cream: #F3F3E0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inherit;
}

html {
    /* scroll-behavior: smooth; */
}

body {
    background-color: whitesmoke;
    font-family: 'Montserrat', sans-serif;
}

.ptSerif {
    font-family: 'PT Serif', serif !important;
}

.maxWidth {
    max-width: 1200px;
}

.customContainer {
    max-width: 1200px;
    width: 85%;
    margin: 0 auto;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

/* .splide .splide__arrow svg {
    fill: rgba(255, 255, 255, 0.8);
} */

#headerSlider1 .splide__arrow {
    background: transparent;

    & svg {
        fill: rgba(255, 255, 255, 0.8);
    }
}

#headerSlider2 .splide__arrow {
    background: transparent;

    & svg {
        fill: var(--blue);
    }
}

#heroSlider .splide__pagination__page {
    background-color: var(--cream);
}

#heroSlider .splide__pagination__page.is-active {
    background-color: var(--blue);
}

.thumbnailProductDetailSlider .swiper-button-prev {
    top: 20px;
    rotate: 90deg;
    left: 40px;
    background-color: white;
    border-radius: 100vh;

    &::after {
        color: var(--blue);
        font-size: 24px;
    }
}

.thumbnailProductDetailSlider .swiper-button-next {
    top: 380px;
    rotate: 90deg;
    left: 40px;
    background-color: white;
    border-radius: 100vh;

    &::after {
        color: var(--blue);
        font-size: 24px;
    }
}

@media screen and (max-width: 768px) {
    .customContainer {
        width: 90%;
    }
}